<plugin name='modernizr' version='1.7.2' grailsVersion='1.3.6 &gt; *'>
  <author>Markus Mueller</author>
  <authorEmail>abnun@gmx.de</authorEmail>
  <title>Modernizr Javascript Library</title>
  <description>Provides the Modernizr Javascript library resource files from http://www.modernizr.com/</description>
  <documentation>https://github.com/abnun/grails-modernizr/</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>ModernizrPluginResources</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>